<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compiled Memberships</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

    <!-- Lightbox CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
</head>
<body>
    <h1>Membership List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Membership Number</th>
                <th>Membership Image</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in memberships %}
                <tr>
                    <td>{{ membership.name }}</td>
                    <td>{{ membership.number }}</td>
                    <td>
                        {% if membership.image %}
                            <!-- <img src="{{ membership.image }}" alt="{{ membership.name }}" class="membership-image" onclick="openModal('{{ membership.image }}')"> -->
                            <a href="{{ membership.image }}" data-lightbox="membership-image" data-title="{{ membership.name }}">
                                <img src="{{ membership.image }}" alt="{{ membership.name }}" class="membership-image">
                        {% else %}
                            <!-- [NO IMAGE] -->
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
    </table>
    <h1>Upload Membership Data</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="submitForm(event)">
        <div class="form-group">
            <label for="membership_name">Membership Name:</label>
            <input type="text" id="membership_name" name="membership_name" required>
        </div>

        <div class="form-group">
            <label for="file">Membership Image:</label>
            <input type="file" id="file" name="file" accept=".jpg,.png,.jpeg" onchange="toggleFields()" required>
            <span id="error-message" class="error-message"></span>
        </div>

        <div class="form-group">
            <label for="number">Membership Number:</label>
            <input type="text" id="number" name="number" onchange="toggleFields()" required>
        </div>

        <button type="submit">Upload</button>
    </form>
    <span id="success-message" class="success-message"></span>

    <!-- Lightbox JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
