.membership-image {
    max-width: 50%;
    min-width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.error-message {
    color: red;
    margin: 0;
}
.success-message {
    color: green;
    margin: 0;
}
.form-group {
    margin-bottom: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
